body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.top_banner_responsive{
    /* visibility: hidden; */
}

.left {
    position: fixed;
    left: 0;
    width: 30vw;
}

.right {
    position: fixed;
    right: 0;
    width: 70vw;
}

.wrapper_img{
    margin: 0;
    margin-left: 5vw;
}

.img_left{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 1vw;
    flex-wrap: wrap;
    padding-top: 5%;
}

.container>.serviceBox {
    position: relative;
    width: 25%;
    height: 20vh;
    background: #272430;
    border-radius: 15px;
    overflow: hidden;
}

.container>.serviceBox:hover {
    cursor: pointer;
}

.container>.serviceBox>.icon>.img {
    width: 23%;
    height: 35%;
}

.container>.serviceBox>.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container>.serviceBox:hover>.icon>.img {
    width: 0%;
    height: 0%;
}

.container>.serviceBox:hover>.icon {
    width: 50%;
    height: 35%;
    left: 25%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    color: rgb(71, 71, 71);
    font-size: 22px;
    font-weight: bold;
}

.container>.serviceBox>.content {
    position: relative;
    padding: 10%;
    text-align: center;
    margin-top: 15%;
    color: antiquewhite;
    z-index: 1;
}

.container>.serviceBox>.content>h2 {
    margin-top: 10px;
    /* margin-bottom: 5px; */
}

.container>.serviceBox>.content>p {
    line-height: 1.5em;
}

@media only screen and (max-width: 1024px) {
    .container{
        position: relative;
        padding-top: 0%;
    }
    .body{
        min-height: 100vh;
    }
    .left{
        width: 0vw;
    }
    .container{
        width: 100vw;
    }
    .left{
        height: 0px;
        visibility: hidden;
    }
    .top_banner_responsive{    width: 100%;
        visibility: visible;
    }
    .container>.serviceBox {
        position: relative;
        width: 55%;
        height: 30vw;
        background: #272430;
        border-radius: 15px;
        overflow: hidden;
    }
    
    .container>.serviceBox>.content>h2 {
        margin-top: 10px;
        /* margin-bottom: 5px; */
    }
    
    .container>.serviceBox>.content>p {
        line-height: 1.5em;
    }
  }