.ic1 {
    background-color: #FFCD38;
}

.ic2 {
    background-color: #FF8D29;
}

.ic3 {
    background-color: #FF4949;
}

.ic4 {
    background-color: #5EE6EB;
}

.ic5 {
    background-color: #4D77FF;
}

.ic6 {
    background-color: #36AE7C;
}

.ic7 {
    background-color: #947EC3;
}


.box1 {
    color: #FFCD38;
}

.box2 {
    color: #FF8D29;
}

.box3 {
    color: #FF4949;
}

.box4 {
    color: #5EE6EB;
}

.box5 {
    color: #4D77FF;
}

.box6 {
    color: #36AE7C;
}

.box7 {
    color: #947EC3;
}