.ic1 {
    background-color: #4D96FF;
}

.ic2 {
    background-color: #BE8C63;
}

.ic3 {
    background-color: #6BCB77;
}

.ic4 {
    background-color: #F4BFBF;
}

.ic5 {
    background-color: #FFD93D;
}

.ic6 {
    background-color: #FF6B6B;
}

.ic7 {
    background-color: #FF7F3F;
}