.ic1 {
    background-color: #FFCD38;
}

.ic2 {
    background-color: #FF8D29;
}

.ic3 {
    background-color: #FF4949;
}

.ic4 {
    background-color: #5EE6EB;
}

.ic5 {
    background-color: #4D77FF;
}

.ic6 {
    background-color: #36AE7C;
}

.ic7 {
    background-color: #947EC3;
}